<?xml version="1.0"?>

<launch>

  <arg name="save" default="false" doc="Set to true if you wanted save bag file of trial"/>
  <arg name="subject_id" default="test" doc="Unique string identifier for the subject"/>
  <arg name="training" default="0" doc="bool string indicating whether the simulator is run in training mode or not"/>

  <!-- record bags -->
  <!-- bag file name parameters -->
  <group if="$(arg save)">
    <include file="$(find simulators)/launch/record.launch">
      <arg name="bag_prefix" value="$(arg subject_id)_p_um_given_a"/>()
    </include>    
  </group>

	<arg name="SNP" default="false" doc="Set to true if using sip/puff to control arm."/>
  <arg name="JOINT" default="false" doc="Set to true if joint velocity control"/>
  <node pkg="simulators" output="screen" type="p_um_given_a_simulator.py" name="p_um_given_a_simulator"  args="$(arg subject_id) $(arg training)"/>

  <include file="$(find teleop_nodes)/launch/teleop_nodes.launch">
    <arg name="SNP" value="$(arg SNP)"/>
    <arg name="JOINT" value="$(arg JOINT)"/>
  </include>

</launch>
