<?xml version="1.0"?>

<launch>
	<arg name="SNP" default="true" doc="Set to true if using sip/puff to control arm."/>

  <node pkg="simulators" output="screen" type="sip_puff_callibration_simulator.py" name="sip_puff_callibration_simulator"/>

  <include file="$(find teleop_nodes)/launch/teleop_nodes.launch">
    <arg name="SNP" value="$(arg SNP)"/>
  </include>


</launch>
